.body-box {
    width: 90%;
    margin: auto;
    border: 1px solid green;
    
}
.muestras_conteiner {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    transition-property: all;
    transition-duration: 2s;
    border: 1px solid red;
}


.muestras {
    overflow-x: scroll;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ropaItem {
    min-width: 170px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    width: 95%;
    height: 95%;
    object-fit: cover;
}